---
const { title, text, text2 = "", changeBalance = false } = Astro.props;
---

<div>
  {
    changeBalance ? (
      <h4 class="about_text_title change">{title}</h4>
    ) : (
      <h4 class="about_text_title">{title}</h4>
    )
  }
  <p>{text}</p>

  {text2 && <p>{text2}</p>}
</div>

<script>
  // Convert innerText to innerHTML
  const titleNode = document.querySelector(".about_text_title");
  const title = titleNode.textContent;

  titleNode.innerHTML = title;
</script>

<style>
  div {
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-inline: var(--p-inline);
  }

  h4,
  p {
    line-height: 1.6;
  }

  h4 {
    font-family: "Futura PT Medium", sans-serif;
    font-size: 1.8rem;
  }

  p {
    font-size: 1.25rem;
  }

  .change {
    text-wrap: wrap;
  }
</style>
