<nav>
  <ul>
    <li><a href="/">About</a></li>
    <li><a href="/">Jobs</a></li>
    <li><a href="/">Apprenticeship</a></li>
  </ul>
</nav>

<style>
  nav {
    margin-left: 40px;
    font-size: 1.1rem;
  }

  ul {
    display: flex;
    gap: 30px;
    font-family: "Futura PT Medium", sans-serif;
  }

  li:first-child {
    color: var(--orange);
  }
</style>
