<div>
  <img src="/images/poster.webp" alt="poster" />
</div>

<style>
  div {
    display: flex;
    justify-content: center;
    padding-inline: var(--p-inline);
  }

  img {
    max-width: 100%;
  }
</style>
