<div class="media">
  <iframe
    src="https://www.youtube.com/embed/9SbnhgjeyXA?si=UZY1k-iDRZNfUaFf"
    title="Why Ableton? - YouTube Video"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>

  <p>Why Ableton - Juanpe Bolivar</p>
</div>

<style>
  iframe {
    margin-inline: auto;
    width: 100%;
    aspect-ratio: 16/9;
    border: none;
  }

  .media {
    padding-inline: var(--p-inline);
  }
</style>
